body{
    margin:0;
    padding: 0;
    background:white;
}
.nav ul{
    list-style: none;
    background-color:#444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li{
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}
.nav a{
    text-decoration: none;
    color:aliceblue;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #444;
    transition: .3s;
}
.nav a:hover{
    background-color: red;
}
.nav a.active{
    background-color: #aaa;
    color: #444;
    cursor: default;
}
.nav li li{
    font-size: .8em;
}
@media screen and (min-width: 650px) {
    .nav li{
        width: 130px;
        border-bottom: none;
        height: 80px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }
    .nav a{
        border-bottom: none;
    }
    .nav > ul > li {
        text-align: center;
    }
    .nav > ul > li > a{
        padding-left:  0;
    }
    .nav li ul {
        position: absolute;
        display: none;
        width: inherit;
    }
    .nav li:hover ul{
       display: block;
    }
    .nav li ul li{
        display: block;
    }
}